@import "../../App.module.scss";

// TODO: Use all colors as variables
.container {
  width: 100vw;
  height: 100vh;
  background-color: #14151d;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  background-color: #000d00;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: inset -16px -16px 0px 0px #e59400, inset 16px 16px 0px 0px white;
  border: 16px solid black;
  color: white;
}

.content > p {
  line-height: 22px;
  width: 80vw;

  span {
    margin: 0px;
    line-height: 40px;
    font-size: 24px;
    color: #92cd41;
  }
}

.content > h1 {
  text-decoration: underline;
  color: #e59400;
  margin: 10px 0px 10px 0px;
}

.title {
  font-style: normal;
  font-weight: normal;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}

.closeButton {
  position: absolute;
  bottom: 70px;
  right: 70px;
  height: 60px;
  width: fit-content;
}

.tutorial {
  height: 60vh;
  overflow-y: none;
}

@media only screen and (max-width: 1550px) {
  .tutorial {
    overflow-y: scroll;
  }
}

.controls {
  @include flexbox-center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.controls > div {
  margin-right: 20px;
}

.tagContainer {
  @include flexbox-center;

  & > div {
    @include flexbox-center;
  }
}
