.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.rightDisplayer {
  background: rgba(145, 134, 252, 0.7);
  border: 3px solid #323040;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 40px;
  width: 34%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.life {
  width: 30px;
  height: 30px;
}

.text {
  margin: 0;
  font-size: 30px;
  color: white;
  margin-top: -6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overheadContainer {
  width: 34%;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.leftDisplayer {
  background: rgba(145, 134, 252, 0.7);
  border: 3px solid #323040;
  box-sizing: border-box;
  border-radius: 0px 0px 40px 0px;
  width: 34%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.leftDisplayerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
