@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.container {
  width: 100vw;
  height: 100vh;
  // background: url("./assets//images//NouBackground.png");
  position: relative;
  overflow: hidden;
  cursor: none;
  background-size: 100% 100%;
}
