.rocket {
  color: purple;
  fill: purple;
  background: url("../assets//icons/RocketUnircornGame.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  cursor: none;
  // border: 1px solid white;
}
