@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.progressBar {
  height: 5px;
  overflow: hidden;
  background: rgba(145, 134, 252, 0.7);
  border: 1px solid #323040;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 20;
}

.indicator {
  height: inherit;
  transition: 100ms;
  background: -webkit-linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3
  );
  margin: 0;
  border: none;
  outline: none;
}

.text {
  font-size: 48px;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  align-self: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
