.settingsContainer {
  width: 100vw;
  height: 100vh;
  background-color: #14151d;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsContent {
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  background-color: #000d00;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset -16px -16px 0px 0px #e59400, inset 16px 16px 0px 0px white;
  border: 16px solid black;
}

.settingsContent > h1 {
  color: white;
  margin: 10px 0px 10px 0px;
}

.title {
  font-style: normal;
  font-weight: normal;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}

.dropdownContainer {
  margin-top: 16px;
}

.fullscreenButton {
  height: 60px;
}

.closeButton {
  position: absolute;
  bottom: 70px;
  right: 70px;
  height: 60px;
  width: fit-content;
}
